<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/styles/products.css">
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
</head>
<body>
    <header>
        <a href="http://localhost:8000/authorisation">Log in</a>        
    </header>

    <main>
    <div class="product">
        
        <form class="item">
            <div class="img">IMG</div>
            <div class="name">name</div>
            <div class="price">price</div>
        </form>

        <button>ADD TO BAG</button>

        <h1>Reviews</h1>
        <div class="comments"></div>

    </div>
    
    </main>

    <script src="/js/mainClientSide.js"></script>
</body>
</html>