<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/styles/products.css">
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
</head>
<body>
    <header>
        <h1> MY SITE NAME</h1>
        <a href="http://localhost:8000/authorisation" class="linkSignIn">Log in</a>        
    </header>

    <main>
    <div class="goods">
        <div class="info">
            <h1>Apparel</h1>
            <h4>Designer tops, leather jackets, dresses, sweaters, tees and everything in between.</h4>
            <h4>Part NYC, part romantic-femme—our women’s clothing is designed for the girl who is as confident as she is cool.</h4>
        </div>

        <div class="filtres"></div>
        <div class="products"></div>

    </div>
    
    </main>

    <script src="/js/mainClientSide.js"></script>
</body>
</html>